.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);

    transition: width 0.25s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin-top: auto;
}

.lang {
    margin-left: 10px;
}