.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width 0.25s;
}

.switchers {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin-top: auto;
}

.lang {
    margin-left: 10px;
    color: var(--inverted-primary-color);
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsedButton {
    position: absolute;
    top: calc(50% - (var(--button-square-side) / 2) - var(--navbar-height));
    right: calc(5px - var(--button-square-side));
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.itemText {
    margin-left: 10px;
    transition: opacity 0.3s;
    opacity: 1;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }

    .itemText {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
