.dark {
    --bg-color: #001262;
    --inverted-bg-color: #dbf3db;
    --primary-color: #28ff00;
    --inverted-primary-color: #0049bb;
    --secondary-color: #007a00;
    --inverted-secondary-color: #2b6eff;
}
