.app.dark {
    --bg-color: #002be0;
    --inverted-bg-color: #dbf3db;
    --primary-color: #00af49;
    --inverted-primary-color: #002359;
    --secondary-color: #6efa6e;
    --inverted-secondary-color: #2b6eff;
}
