.app.light {
    --bg-color: #dbf3db;
    --inverted-bg-color: #002be0;

    --primary-color: #002359;
    --inverted-primary-color: #00af49;

    --secondary-color: #2b6eff;
    --inverted-secondary-color: #6efa6e;
}