:root {
    --bg-color: #dbf3db;
    --inverted-bg-color: #003aff;
    --primary-color: #060059;
    --inverted-primary-color: #00af49;
    --secondary-color: #2b6eff;
    --inverted-secondary-color: #6efa6e;
}
