.button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.color-primary {
    color: var(--primary-color);
}

.color-inverted {
    color: var(--inverted-primary-color);
}

.bg-color-primary {
    background-color: var(--bg-color);
}

.bg-color-inverted {
    background-color: var(--inverted-bg-color);
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outline {
    border: 2px solid var(--primary-color);
    background: none;
}

.square {
    padding: 0;
    width: var(--button-square-side);
    height: var(--button-square-side);
    border: 2px solid var(--inverted-bg-color);
    font: var(--font-m);
}
